@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Courses";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
</div>

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <p>Bienvenido, @User.Identity?.Name!</p>
    }
    else
    {
        <p>Please, log in first</p>
    }

</div>
